data/.DS_Store
data/morphology/.DS_Store
paramo/.DS_Store
paramo/output/.DS_Store
.DS_Store
.Rhistory
bayou/figures/
bayou/output/
bayou/rb_version/
comparison/figures/
comparison/results/
comparison/raw_figures/
comparison/wrong_data/
paramo/figures/
paramo/output/
paramo/simulations/
